body {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #000; }

* {
  outline: none;
  box-sizing: border-box; }

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

input[type="text"] {
  font-size: 14px;
  line-height: 1.5em;
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #DEDEDE; }

button {
  background: #C90E25;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  border: none;
  padding: 13px 13px 14px 13px;
  margin-top: 10px;
  cursor: pointer; }
  button:hover {
    background: #b10c21; }

@media screen and (min-width: 768px) {
  .app {
    display: flex;
    min-height: 107vh; } }

@media screen and (min-width: 768px) {
  .banner {
    width: 100%;
    float: left;
    display: contents;
    height: 100vh; } }

.banner-img {
  background-color: #FFFFFF;
  background-image: url("../img/sydney_bg_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  padding: 75% 0 0; }
  @media screen and (min-width: 768px) {
    .banner-img {
      height: auto;
      padding: 0;
      flex: 1; } }

.banner-text {
  width: 100%;
  height: 107vh;
  position: absolute;
  display: flex;
}

.banner-text-today {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 60%;
  color: #FFFFFF;
  padding: 80px 30px; }

.banner-text-forecast {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  padding: 80px 30px;
  justify-content: space-between;
  background-color: #00000088;
  color: #FFFFFF; }
  .banner-text-forecast .forecast {
    border-bottom: 2px double white;
    margin: 10px 0;
    padding: 3px 0 }
    .banner-text-forecast .forecast .line-1, .banner-text-forecast .forecast .line-2 {
      margin-top: 10px;
      font-size: 23px; }
    .banner-text-forecast .forecast .line-2 {
      margin: 25px 0 10px;
      display: flex;
      justify-content: space-between; }
      .banner-text-forecast .forecast .line-2 .temperature {
        font-size: 43px; }
      .banner-text-forecast .forecast .line-2 .day {
        font-size: 18px; }

.banner-title-top span {
  display: block; }
.banner-title-top .line-1, .banner-title-top .line-2 {
  margin-top: 10px;
  font-size: 40px;
  line-height: 45px; }
.banner-title-top .line-3 {
  margin-top: 15px;
  font-size: 60px;
  line-height: 70px; }

.banner-title-bottom .line-2 {
  margin-top: 10px;
  font-size: 23px;
  line-height: 50px; }

.banner-title-bottom .line-1 {
  font-size: 100px;
  line-height: 114px; }

.form-group {
  position: absolute;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}

.form-group-fields {
  flex: 0 0 40%;
  padding-bottom: 15px;
  padding-right: 5px }
  .form-group-fields .form-error {
    color: #C90E25;
    font-weight: 500;
    font-style: italic; }

.loader {
  font-size: 24px;
  font-weight: bold;
  position: relative; }

.spinner {
  display: block;
  position: relative;
  animation: spin-clockwise 1.5s linear infinite; }
  .spinner:before {
    content: '';
    border: 5px inset #C90E25;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto 10px; }

.container-unsubmitted, .container-submitting {
  display: flex;
  flex-direction: column;
  flex: 1; }

.container-submitting {
  justify-content: center;
  align-items: center;
  text-align: center; }
